<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%=@user.first_name %> <%= @user.last_name %> has started a trip!</h1>
    
    <h2>Trip Details</h2>

    <h3>Origin: <%= @locations.find {|loc| loc.start_end == 'Start'}.street %> <%= @locations.find {|loc| loc.start_end == 'Start'}.city %></h3>
    <h5>Start Time: <%= @trip.created_at.strftime('%Y-%m-%d %H:%M') %></h5>

    <h3>Destination: <%= @locations.find {|loc| loc.start_end == 'End'}.street %> <%= @locations.find {|loc| loc.start_end == 'End'}.city %></h3>
    <h5>Estimated Arrival Time: <%= ((@trip.created_at)+(@trip.real_time)).strftime('%Y-%m-%d %H:%M') %></h5>

    <h2>Map:</h2>
    <%= image_tag @trip.map_url %>

    <h2>Route Details:</h2>

    <ol>
        <% @segments.sort_by {|seg| seg.index_num}.each do |segment|%>
            <li><img src=<%= segment.icon_url%> alt='trip instruction'/> <%= segment.instructions%> - <%= segment.distance.round(1)%> miles</li>
        <% end %>
    </ol>
    
    <a href='http://localhost:3001' target='_blank'><%= image_tag attachments['logo'].url %></a>
  </body>
</html>